@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
      background-color: #1a1a1a; /* Dark blue color */
      color: #ffffff; /* Optional: set text color to white for contrast */
      font-family: 'Google Sans', sans-serif;
      margin: 0;
      padding: 0;
    }
    
    /* Apply the same style to #root for React apps */
    #root {
      background-color: inherit;
      min-height: 100vh;
    }

    section {
      @apply flex flex-col gap-4 max-w-[70vw] mx-auto;
    }
}